 .App {
  text-align: center;
}
 
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap : 1rem;
  margin: 27px;
  justify-content: center;
} 

.cart-value{
  display: flex;
  justify-content: end;
  margin: 15px;
  font-size: larger;
}
.role{
  height: 300px;
}

.text-white {
  top: 0.5rem; 
  right: 0.5rem;
}
.bi-star-fill{
  font-size: 35px;
  
}
.rope{
  font-size: 15px;
}

